name: Notify Discord on Release

on:
  release:
    types: [published]

jobs:
  notify-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Send Release Info to Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          curl -X POST -H "Content-Type: application/json" \
          -d "$(jq -n --arg name "${{ github.event.release.name }}" \
                       --arg body "${{ github.event.release.body }}" \
                       --arg url "${{ github.event.release.html_url }}" \
                       '{ "content": "Новий реліз на GitHub!\nНазва: \($name)\nОпис: \($body)\nПереглянути реліз: \($url)" }')" \
          "$DISCORD_WEBHOOK"

